body {
  background-color: #373640;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #63686e;
}

h1 {
  color: #fff;
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;
  font-weight: bold;
  margin: auto;
  padding: 3%;
}
h2 {
  font-size: 1.5rem;
  padding-top: 1%;
}
h3 {
  color: #63686e;
  font-size: 1.17rem;
  padding-bottom: 4%;
}
h4 {
  color: #7e97a6;
  font-size: 1rem;
}
p {
  color: #fff;
  font-size: 1rem;
}
i {
  color: #63686e;
}
a {
  color: #63686e;
}

hr {
  border: solid 2px;
  border-bottom: none;
  color: #373640;
}

/* Info Block */
.info {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 465px;
}

.total-text {
  font-weight: bold;
}

.footer {
  margin: auto;
  padding: 3%;
}
